# Ignore node_modules folders
stripe-lambda/node_modules/
store-booking-lambda/node_modules/
webhook-lambda/node_modules/
notify-booking-lambda/node_modules/

# Ignore Lambda deployment packages
notify-booking-lambda.zip
store-booking-lambda.zip
stripe-lambda.zip
webhook-lambda.zip

# Optional: Mac system file
.DS_Store

# Ignore images folder
images/


