# Ignore node_modules folders
lambda-stripe/node_modules/
lambda-store-booking/node_modules/
lambda-webhook/node_modules/
lambda-notify-booking/node_modules/

# Ignore Lambda deployment packages
lambda-notify-booking.zip
lambda-store-booking.zip
lambda-stripe.zip
lambda-webhook.zip

# Optional: Mac system file
.DS_Store

# Ignore images folder
s3-site/images/


